header .navbar {
  background-color: transparent !important;
  font-family: "Edu NSW ACT Foundation", cursive !important;
  font-family: "Kanit", sans-serif !important;
}
header .menu {
  height: 60px;
  width: 60px;
  background-color: transparent;
  border: none;
}
header .hamburguesa {
  color: white;
}
header .hamburguesa:hover {
  color: #bf9bde;
  transition: ease-in-out 0.6s;
}
header .links-nav a:hover {
  color: #bf9bde !important;
  transition: ease-in-out 0.6s;
}

.logo {
  text-decoration: none !important;
}

@media (max-width: 767.98px) {
  .logo {
    display: none;
  }
}
#home {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("/img/imagen-home.jpg");
  background-size: cover;
}
#home h1 {
  font-size: 4rem;
  margin-right: 10rem;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.5px;
  color: transparent !important;
}
#home h1 strong {
  color: white !important;
}
#home .icon-header {
  font-size: 3rem;
}
#home .redesA {
  color: white !important;
}
#home .redesA:hover {
  color: #bf9bde !important;
  border-color: #bf9bde !important;
  transition: ease-in-out 0.5s;
}
#home .redes {
  height: 200px;
  width: 100px;
}
#home button {
  left: 1rem;
  text-transform: uppercase;
  width: 175px;
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #bf9bde;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #bf9bde;
  box-shadow: inset 0 0 0 0 #725ac1;
}
#home button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #bf9bde;
}
#home button:active {
  transform: scale(0.9);
}

@media (max-width: 767.98px) {
  #home h1 {
    font-size: 3rem;
  }
  #home .redes {
    display: none !important;
  }
  #home .redesA {
    display: none !important;
  }
  #home button {
    font-size: small;
    width: 100px;
    padding: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  width: 100%;
}

.separacion {
  height: 10vh;
  background-color: rgb(0, 0, 0);
}

@media (max-width: 767.98px) {
  .separacion {
    display: none;
  }
}
#tortuga {
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/img/Fondo-Tortuga-PC.png") center no-repeat;
  background-size: cover;
}
#tortuga p {
  font-size: 1.8rem;
  margin-right: 35% !important;
  font-weight: 100;
}
#tortuga p strong {
  color: white !important;
  font-weight: bold;
}
#tortuga img {
  top: 18%;
  right: 10%;
}

.slider {
  width: 100%;
  font-size: 25px;
  animation: efecto 11s infinite linear;
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  #tortuga {
    overflow: hidden;
    justify-content: center !important;
    align-items: flex-start !important;
  }
  #tortuga img {
    z-index: 0;
    width: 350px;
    top: 55%;
    right: -14%;
  }
  #tortuga p {
    padding: 3rem;
    font-size: 2.4rem !important;
    margin: 0% !important;
    width: 100%;
    z-index: 1;
    margin-top: 4rem !important;
  }
  #tortuga p br {
    display: none;
  }
}
#contacto img {
  object-fit: cover;
  right: 1rem;
}
#contacto .btn-contact {
  left: 1rem;
  text-transform: uppercase;
  width: 175px;
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #bf9bde;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #bf9bde;
  box-shadow: inset 0 0 0 0 #725ac1;
}
#contacto .btn-contact:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #bf9bde;
}
#contacto .btn-contact:active {
  transform: scale(0.9);
}
#contacto .modal-main {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
#contacto .btn-close {
  background-color: white;
}

.img-about {
  left: 2rem !important;
}

@media (max-width: 767.98px) {
  #about {
    align-items: flex-end !important;
  }
  #about article {
    width: 100% !important;
    z-index: 1;
  }
  #about article h2 {
    width: 82% !important;
    font-size: 2.5rem;
  }
  #about article p {
    margin-top: 1.8rem;
    font-size: 2.1rem !important;
  }
  #about img {
    height: 100% !important;
    width: 100% !important;
    z-index: 0;
    filter: brightness(50%);
  }
}
#footer svg {
  color: white !important;
}
#footer svg:hover {
  color: #bf9bde !important;
  transition: ease-in-out 0.5s;
}
#footer a {
  color: white;
  text-decoration: none;
}
#footer a:hover {
  color: #bf9bde;
  transition: ease-in-out 0.5s;
}

/*# sourceMappingURL=output.css.map */
