.img-about {
  left: 2rem !important;
}

@media (max-width: 767.98px) {
  #about {
    overflow: hidden;

    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
      url("/img/imagen-about.jpeg") center;
    background-size: cover;
    align-items: center !important;

    article {
      color: white !important;
      width: 100% !important;

      h2 {
        width: 82% !important;
        font-size: 2.5rem;
      }

      p {
        margin-top: 1.7rem;
        font-size: 1.8rem !important;
      }
    }
    img {
      display: none !important;
    }
  }
}
