#contacto {

.mensaje {resize: none;}

  img {
    object-fit: cover;
    height: 93%;
    right: 2rem !important;
  }

  .modal-content {
    background-color: rgba(255, 255, 255, 0.8) !important;
    z-index: 1000 !important;
  }

  .boton-close {
    background-color: transparent !important;
    border: none !important;
  }

  .modal-header {
    background-color: #035a54 !important;
  }

  .btn-contact {
    left: 1rem;
    text-transform: uppercase;
    width: 175px;
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 10px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #035a54;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #035a54;
    box-shadow: inset 0 0 0 0 #035a54;
  }

  .btn-contact:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #035a54;
  }

  .btn-contact:active {
    transform: scale(0.9);
  }

  .modal-main {
    background-color: #0003 !important;
  }
  .btn-close {
    background-color: white;
  }
}

@media (max-width: 767.98px) {
  #contacto {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
      url("/img/imagen-contacto.jpeg") center;
    background-size: cover;

    img {
      display: none;
    }

    article {
      width: 100% !important;
      color: white !important ;

      h2 {
        width: 80% !important;
        color: white;
        font-size: 2.5rem;
      }

      p {
        font-size: 1.8rem !important;
        width: 70% !important;
      }

      .btn-contact {
        margin-top: 2px !important;
        padding: 12px !important;
      }
    }
  }
  .modal-content {
    color: black;
    z-index: 1000 !important;
  }
}
