#footer {
  svg {
    color: white !important;
  }
  svg:hover {
    color: #bf9bde !important;
    transition: ease-in-out (0.5s);
  }
  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #bf9bde;
    transition: ease-in-out (0.5s);
  }
}
