

#tortuga {
    p {
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 0.5px;
        color: transparent !important;
        
        
        
        strong {
          color: white !important;
        
        }
    
        }
    
    
    
        img {

        top: 18%;
        right: 10%;


    }



}